@use "card";
@use "button";
@use "colors";
$header-max-height: 760px;

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    background: url("../assets/img/bg2.jpg") no-repeat center top fixed;
    background-size: cover;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.ancients,
.game-difficulty {
    @include flexCenter;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    color: white;
    font-size: 20px;
    opacity: 0;
}

header {
    height: 100px;
}

.game {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    height: 400px;
    margin: 20px auto;
}

.cards {
    display: flex;
}

.colors {
    display: flex;
    justify-content: space-around;
    margin: 15px auto;
}

@media (max-height: $header-max-height) {
    header {
        height: 10px;
    }
}
