@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
  /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);

  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  padding-left: 20px;
  position: relative;
  z-index: 10;
}

.player-controls {
  display: flex;
  flex-direction: column;
  width: 145px;
}

.player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  margin-bottom: 10px;
}

.audio-title {
  width: 145px;
  align-items: center;
  margin-bottom: 5px;
  opacity: 0;
}


.progress-bar-control {
  display: flex;
  opacity: .8;
}

.current-duration-time {
  display: flex;
}

.current-time {
  width: 35px;
  z-index: 4;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: white;
  text-align: right;
}

.span-time {
  width: 10px;
  opacity: 0;
}

.duration-time {
  width: 35px;
  z-index: 4;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: left;
  color: white;
}

#progress-bar,
#sound-volume {
  appearance: none;
  position: relative;
  top: 4px;
  z-index: 4;
  height: 5px;
  width: 145px;
  border-radius: 30px;
  cursor: pointer;

}

#progress-bar::-webkit-slider-thumb,
#sound-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-left: 0px;
  height: 10px;
  width: 3px;
  border: 0;
  background: white;
  cursor: pointer;
}

#sound-volume {
  position: relative;
  top: 0;
  margin-right: 10px;
}

.volume-control {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
  transition: .3s;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item::before {
  /* content: "\2713";   */
  content: "\2BC8";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.play-item.click::before {
  content: "||";
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.play-item:hover,
.volume-control:hover,
.progress-bar-control:hover, 
.todo-button:hover,
.new-todo:hover,
.button-remove:hover,
.item-settings:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.button-remove:active,
.item-settings:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 200px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

i.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

/* window-settings */

.window-settings-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.todo-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 340px;
  height: auto;
}

.todo-button {
  margin-top: 10px;
  margin-left: auto;
  padding: 5px;
  width: 60px;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.new-todo {
  width: 50px;
  height: 50px;
  font-size: 42px;
  border: solid 2px white;
  border-radius: 50px;
  opacity: .8;
  margin: auto;
  cursor: pointer;
  transition: .3s;
}

.todo-body {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100px;
  background-color: black;
  transition-property: opacity;
  opacity: 0.8;
  border-radius: 10px;
  transition-duration: 1000ms;
  padding: 10px;
}

#todo-input {
  display: none;
  /* position: relative;
  bottom: 34px;
  left: 5px; */
  width: 250px;
  height: 30px;
  background-color: black;
  color: white;
  transition-property: opacity;
  opacity: 0.8;
  padding: 5px;
  border: none;
}

input:focus,
select:focus {
  outline: none;
}

.window-settings {
  position: absolute;
  left: 20px;
  bottom: 60px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

h3 {
  padding: 10px;
  opacity: .8;
}

.language,
.source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, .15);

}

.select-language {
  color: darkgray;
  background-color: rgba(0, 0, 0, 0.25);
  width: 75px;
  height: 22px;
  margin-left: 110px;
  opacity: .8;
  border-radius: 5px;
  cursor: pointer;
}

.select-source {
  color: darkgray;
  background-color: rgba(0, 0, 0, 0.25);
  width: 105px;
  height: 22px;
  margin-left: 8px;
  opacity: .8;
  border-radius: 5px;
  cursor: pointer;
}

.query {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, .15);
}

#query {
  height: 25px;
  color: darkgray;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-left: 78px;
  opacity: .8;
  border: none;
}

.select-language option,
.select-source option {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: .8;
  border-radius: 10px
}

ul {
  list-style: none;
}

.setting-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, .15);
}

.setting-name {
  text-align: left;

  width: 200px;
}

.toggle-slider {
  position: relative;
  height: 20px;
  width: 45px;
  margin-left: 60px;
  background: rgba(255, 255, 255, .25);
  border-radius: 30px;
  transition-duration: 300ms;
  cursor: pointer;
}

.toggle-slider.on {
  background-color: #4cbf3f !important;
}

.toggle-switch {
  position: relative;
  height: 12px;
  width: 12px;
  top: 4px;
  left: 12px;
  display: inline-block;
  transform-origin: 50% 50%;
  vertical-align: top;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}